/*Timed Coding Quiz
Last Updated by Arielle Schlickman-Elak Aug 21 2022
*/

/*==============================
        Basic Styling
==============================*/

html {
    scroll-behavior: smooth;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 3rem 0 3rem;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#view-highscores a {
    text-decoration: none;
}

#view-highscores a:hover {
    text-decoration: underline;
}

#start,#quiz-section, #end-game, #highscores-title, #highscores  {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


#options-list {
    padding-left: 0;
}

#validation {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#initials-area, #initials-reveal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 2rem;
    align-items: baseline;
}

#initials-reveal {
    border-radius: 10px;
    padding: 1rem;
    margin: .5rem;
    text-align: center;
    font-weight: bold;
    background-color: purple;
    color: white
}

input[type="text"] {
    height: 2rem;
}
input[type="button"] {
    height: 2rem;
}

#button-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


/*==============================
          Game Logic
==============================*/


/*==============================
    Question Button Behavior
==============================*/
#options-list > * {
    width: 15rem;
}

#start-quiz {
    width: 14rem;
}

#options-list > *, #start-quiz, #clear-highscores, #go-back {
    text-decoration: none;
    list-style: none;
    border-radius: 10px;
    padding: 1rem;
    margin: .5rem;
    text-align: center;
    font-weight: bold;
}


.active-button, #start-quiz {
    background-color: grey;
    color: black;
}

.active-button:hover, #start-quiz:hover {
    background-color: purple;
    color: white;
    cursor: grab;
}

.correct-message {
    color: green;
}

.incorrect-message {
    color: red;
}
