/*Timed Coding Quiz
Last Updated by Arielle Schlickman-Elak Aug 21 2022
*/

/*==============================
        Basic Styling
==============================*/

html {
    scroll-behavior: smooth;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 3rem 0 3rem;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/*==============================
          Game Logic
==============================*/



/*==============================
    Question Button Behavior
==============================*/
#options-list > * {
    width: 5rem;
}

#start-quiz {
    width: 14rem;
}

#options-list > *, #start-quiz {
    text-decoration: none;
    list-style: none;
    border-radius: 10px;
    padding: 1rem;
    margin: .5rem;
    text-align: center;
    font-weight: bold;
}


.active-button, #start-quiz {
    background-color: grey;
    color: black;
}

.active-button:hover, #start-quiz:hover {
    background-color: purple;
    color: white;
    cursor: grab;
}

.correct-message {
    color: green;
}

.incorrect-message {
    color: red;
}
